# Assets
ebooks/**

# Temp file
node_modules/**
算法/**/*.exe
算法/**/test.*

# Obsidian
.trash/**
.history/**
.obsidian/workspace.json
.obsidian/workspace-mobile.json
.obsidian/plugins/
.obsidian/community-plugins.json

# Private
工作/**
Abuse.md
GPT_history/**
