Checks: '-*,
 bugprone-,
clang-analyzer-*,
concurrency-*,
cppcoreguidelines-*,
misc-*,
modernize-*,
objc-*,
performance-*,
portability-*,
readability-*,
-cppcoreguidelines-avoid-c-arrays,
-cppcoreguidelines-pro-bounds-array-to-pointer-decay,
-cppcoreguidelines-pro-type-const-cast,
-cppcoreguidelines-pro-type-reinterpret-cast,
-cppcoreguidelines-pro-type-vararg,
-readability-identifier-length,
-misc-const-correctness,
-modernize-avoid-c-arrays,
-modernize-use-trailing-return-type,
-modernize-use-using'
 CheckOptions: - key: readability-function-cognitive-complexity.IgnoreMacros value: true